<script context="module">
	let formName;
	let formDescription;

	export async function preload({params, query}) {

		if (params.slug === 'edit_post') {
			formName = 'Edit Post';
			formDescription = 'Here you can edit post!';

			return {params, formName, formDescription};
		} else if (params.slug === 'add_post' && params.post_id === 'new') {
			formName = 'Add Post';
			formDescription = 'Here you can add post!';

			return {params, formName, formDescription};
		} else {
			this.error('404', 'Wrong Slug!');
		}

	}
</script>

<script>
	 export let params;
	 export let formName;
	 export let formDescription;

	 import NewPostForm from '../../../../components/NewPostForm.svelte';
	 import EditPostForm from '../../../../components/EditPostForm.svelte';
	 import UserRightsCheck from '../../../../components/UserRightsCheck.svelte';
</script>

<style>
	.article-block-grid-default
	{
		display: grid;
		grid-template-columns: 1fr;
		cursor: default;
		position: relative;
		align-items: center;
	}


	.article-content-wrapper
	{
		padding: 0 1.5em 0 1.5em;
	}

	.page-description-block .breadcrumbs
	{
		align-self: end;
		margin: 0 0 0 0;
		text-align: right;
		font-size: 18px;
	}

	.page-description-block .breadcrumbs a
	{
		text-decoration: none;
		color: #202223;
	}

	.page-description-block .breadcrumbs b
	{
		font-weight: 100;
		color: black;
	}

	.page-description-block .breadcrumbs .breadcrumbs-divisor
	{
		padding-left: 5px;
		padding-right: 5px;
	}


	/*Responsive on mobile devices*/
	@media screen and (max-width: 1024px) {

		.article-content-wrapper
		{
			padding: 0 .2em 0 .2em;
		}

	}

</style>

<svelte:head>
	<title>{formName} - Shardanov</title>
</svelte:head>

<UserRightsCheck let:show_content = {show_content}>

	{#if show_content}

		<div class="page-description-block">
			<h1>
				<span class="page-block-title">{formName}</span>
			</h1>
			{#if params.slug === 'add_post' && params.post_id === 'new'}
				<span class="breadcrumbs"><a href="/blog/">Blog</a><span class="breadcrumbs-divisor">></span><a href="/blog/editor/">Editor</a><span class="breadcrumbs-divisor">></span><b>Add Post</b></span>
			{:else if params.slug.includes("edit")}
				<span class="breadcrumbs"><a href="/blog/">Blog</a><span class="breadcrumbs-divisor">></span><a href="/blog/editor/">Editor</a><span class="breadcrumbs-divisor">></span><a href="/blog/editor/{params.slug}/">{formName}s</a><span class="breadcrumbs-divisor">></span><b>Edit Post</b></span>
			{/if}
			<span class="page-block-subtitle">{formDescription}</span>
		</div>

		<div class='article-content-wrapper article-block-grid-default'>

			{#if params.slug === 'add_post' && params.post_id === 'new'}
				<NewPostForm/>
			{:else if params.slug === 'edit_post'}
				<EditPostForm post_slug={params.post_id}/>
			{/if}

		</div>

	{/if}

</UserRightsCheck>