<script context="module">
	export async function preload({ params, query })
	{
		let formName;
		let formDescription;

		if (params.slug === 'edit_post')
		{
			const res = await this.fetch('https://devapi.shardanov.com/api/post/read.php');
			const data_posts = await res.json();

			if (res.status === 200) {
				formName = 'Edit Posts';
				formDescription = 'Here you can select and edit some post!';
				return {params, data_posts, formName, formDescription};
			} else {
				this.error(res.status, data_posts.message);
			}
		}
		else
		{
			this.error('404', 'Wrong Slug!');
		}

	};
</script>

<style>
	.page-description-block .breadcrumbs
	{
		align-self: end;
		margin: 0 0 0 0;
		text-align: right;
		font-size: 18px;
	}

	.page-description-block .breadcrumbs a
	{
		text-decoration: none;
		color: #202223;
	}

	.page-description-block .breadcrumbs b
	{
		font-weight: 100;
		color: black;
	}

	.page-description-block .breadcrumbs .breadcrumbs-divisor
	{
		padding-left: 5px;
		padding-right: 5px;
	}
</style>

<script>
	//export let params;
	import UserRightsCheck from '../../../../components/UserRightsCheck.svelte';
	export let data_posts;
	export let formName;
	export let formDescription;
</script>

<svelte:head>
	<title>Editor {formName} - Shardanov</title>
</svelte:head>

<UserRightsCheck let:show_content = {show_content}>

	{#if show_content}

	<div class="page-description-block">
		<h1>
			<span class="page-block-title">Editor</span>
		</h1>
		<span class="breadcrumbs"><a href="/blog/">Blog</a><span class="breadcrumbs-divisor">></span><a href="/blog/editor/">Editor</a><span class="breadcrumbs-divisor">></span><b>{formName}</b></span>
		<span class="page-block-subtitle">{formDescription}</span>
	</div>

	<div class="wrapper">

		{#each data_posts['records'] as post}
			<a class="editor-item" href="/blog/editor/edit_post/{post.slug}/">{post.title}</a>
		{/each}

	</div>

	{/if}

</UserRightsCheck>