<script>
    export let message;
    export let message_type;
    let message_class;

    if(message_type === 'default')
    {
        message_class = 'default_message';
    }
    else if(message_type === 'error')
    {
        message_class = 'error_message';
    }
</script>

<style>
    h2 {
        font-size: 1.2rem;
        text-align: center;
        white-space: pre-line;
    }

    .error_message:before, .default_message:before
    {
        margin-right: 10px;
        font-family: "Font Awesome 5 Free";
    }

    .error_message:before
    {
        color: red;
        content: "\f071";
    }

    .default_message:before
    {
        color: yellowgreen;
        content: "\f058";
    }
</style>

<h2 class="{message_class}">{message}</h2>