<script>
	let year = new Date().getFullYear();
</script>

<style>
    footer .social-icons a
    {
        font-size: 24px;
        margin-left: 5px;
    }

    footer .social-icons .fa-youtube
    {
        color: red;
    }

    footer .social-icons .fa-instagram-square
    {
        color: #8A3AB9;
    }

    footer .social-icons .fa-telegram
    {
        color: #29A6DD;
    }
</style>

<footer>
	<span class="copyright">2021 - {year} &copy; Shardanov.com</span>
	<div class="social-icons">
        <a href="https://www.youtube.com/channel/UCOUCyoPih2J8wcw-8KYe_rA/" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://www.instagram.com/denissined1993/" target="_blank"><i class="fab fa-instagram-square"></i></a>
        <a href="https://t.me/shardanov/" target="_blank"><i class="fab fa-telegram"></i></a>
    </div>
</footer>