<script>
	let show_content = false;
	export let admin_status;
	export let segment;
</script>

<header>

		<ul>
			<div id="header-logo"><a aria-current='{segment === undefined ? "page" : undefined}' href="/">Shardanov</a></div>
			<li class="accent"><a rel=prefetch aria-current='{segment === "blog" ? "page" : undefined}' href='blog/'>Blog</a></li>
			<li><a aria-current='{segment === "about" ? "page" : undefined}' href='about/'>About Me</a></li>
	{#if admin_status === 1}
			<li><a aria-current='{segment === "editor" ? "page" : undefined}' href='blog/editor/'>Editor</a></li>
			<li id="logout-li"><a aria-current='{segment === "editor" ? "page" : undefined}' href='logout/'>Log Out</a></li>
	{/if}
		</ul>

</header>