<script>
    import Content from './popup/Content.svelte';
    import Modal from './popup/Modal.svelte';

    import { onMount } from "svelte";

    let ref, resp_status;
    let title, content, author_id, category_id, main_image, cover_image, session_key;
    author_id = 1;

    let popupComponent;
    let categories_list;

    let gettingListCat;

    function getCookie(name)
    {
        let nameEQ = name + "=";
        let ca = document.cookie.split(';');
        for(let i=0;i < ca.length;i++)
        {
            let c = ca[i];

            while (c.charAt(0)===' ')
            {
                c = c.substring(1,c.length);
            }

            if (c.indexOf(nameEQ) === 0)
            {
                return c.substring(nameEQ.length,c.length);
            }
        }
        return null;
    }

    async function handleSubmit()
    {
        const post = {title, content, author_id, category_id, main_image, cover_image, session_key};

         fetch('https://devapi.shardanov.com/api/post/create.php', {
                    method: "POST",
                    body: JSON.stringify(post),
                }).then(function(response) {
                    if(response.status === 201)
                    {
                        resp_status = 'default';
                    }
                    else
                    {
                        resp_status = 'error';
                    }

                 return response.json()
         }).then(function(object) {
             popupComponent.showPopup(object.message, resp_status);
         });
    }

    async function getCategories() {
        gettingListCat = true;
        fetch('https://devapi.shardanov.com/api/category/read.php', {
            method: "GET",
        }).then(function(response) {
            if(response.status !== 200)
            {
                this.error(response.status, response.message);
            }
            else
            {
                return response.json();
            }
        }).then(function(object) {
            gettingListCat = false;
            categories_list = object['categories'];
        });

    }

    onMount(async function() {
        session_key = getCookie('user_session_key');

        getCategories();

        ref.focus();

        function handleFileSelect(evt) {
            let files = evt.target.files; // FileList object

            // Loop through the FileList and render image files as thumbnails.
            for (let i = 0, f; f = files[i]; i++) {

                // Only process image files.
                if (!f.type.match('image.*')) {
                    continue;
                }

                let reader = new FileReader();

                // Closure to capture the file information.
                reader.onload = (function (theFile) {
                    return function (e) {
                        // Render thumbnail.
                        let span = document.createElement('span');
                        span.innerHTML = ['<img class="thumb" src="', e.target.result,
                            '" title="', escape(theFile.name), '"/>'].join('');
                        document.getElementById('list_cover').innerHTML = span.innerHTML; //insertBefore(span, null);
                        cover_image = e.target.result;
                    };
                })(f);

                // Read in the image file as a data URL.
                reader.readAsDataURL(f);
            }
        }

        function handleFileSelectMain(evt) {
            let files = evt.target.files; // FileList object

            // Loop through the FileList and render image files as thumbnails.
            for (let i = 0, f; f = files[i]; i++) {

                // Only process image files.
                if (!f.type.match('image.*')) {
                    continue;
                }

                let reader = new FileReader();

                // Closure to capture the file information.
                reader.onload = (function (theFile) {
                    return function (e) {
                        // Render thumbnail.
                        let span = document.createElement('span');
                        span.innerHTML = ['<img class="thumb" src="', e.target.result,
                            '" title="', escape(theFile.name), '"/>'].join('');
                        document.getElementById('list_main').innerHTML = span.innerHTML; //insertBefore(span, null);
                        main_image = e.target.result;
                    };
                })(f);

                // Read in the image file as a data URL.
                reader.readAsDataURL(f);
            }
        }

        document.getElementById('file_cover').addEventListener('change', handleFileSelect, false);
        document.getElementById('file_main').addEventListener('change', handleFileSelectMain, false);

        function insertAtCursor(myField, myValue) {
            //IE support
            if (document.selection) {
                myField.focus();
                sel = document.selection.createRange();
                sel.text = myValue;
            }
            //MOZILLA and others
            else if (myField.selectionStart || myField.selectionStart === '0') {
                let startPos = myField.selectionStart;
                let endPos = myField.selectionEnd;
                myField.value = myField.value.substring(0, startPos)
                    + myValue
                    + myField.value.substring(endPos, myField.value.length);
                myField.selectionStart = startPos + myValue.length; myField.selectionEnd = startPos + myValue.length;
            } else {
                myField.value += myValue;
            }
        }

        function textSelectionCopy(myField)
        {
            let start = myField.selectionStart;
            // obtain the index of the last selected character
            let finish = myField.selectionEnd;
            // obtain the selected text
            let selectedText = myField.value.substring(start, finish);

            return selectedText;
        }

        let editableArea = document.getElementById('content');

        document.getElementById('editor-bold-text').addEventListener('click', function(){insertAtCursor(editableArea, '<b>'+textSelectionCopy(editableArea)+'</b>')}, false);
        document.getElementById('editor-link').addEventListener('click', function(){insertAtCursor(editableArea, '<a href="'+textSelectionCopy(editableArea)+'" target="_blank"></a>')}, false);
        document.getElementById('editor-image').addEventListener('click', function(){insertAtCursor(editableArea, '<img src="'+textSelectionCopy(editableArea)+'"/>')}, false);
    });
</script>

<style>
    fieldset
    {
        border: none;
        padding: 0 15px 0 0;
    }

    form
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

     #list_cover, #list_main, label
    {
        display: block;
    }

    input[type=text], select
    {
        width: 100%;
        padding: 10px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 2px solid #E5E5E5;
        font-size: 16px;
    }

    input[type=file], output
    {
        margin-bottom: 3em;
        color: #404040;
    }

    textarea
    {
        width: 100%;
        min-width: 100%;
        max-width: 50vw;
        max-height: 500px;
        min-height: 200px;
        padding: 10px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 2px solid #E5E5E5;
        font-size: 16px;
    }

    .images_block
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    input[type=submit]
    {
        background-color: #8842d5;
        border: none;
        color: white;
        padding: 15px 25px;
        text-decoration: none;
        margin: 5px 4px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 18px;
    }

    input[type=submit]:hover
    {
        background-color: #7039b4;
    }

    /*Responsive on mobile devices*/
    @media screen and (max-width: 760px)
    {
        textarea
        {
            min-width: 100%;
            max-width: 90vw;
            min-height: 150px;
            max-height: 300px;
        }

        input[type=file], output
        {
            margin-bottom: 1em;
        }

        input[type=submit]
        {
            width: 100%;
        }

    }

    @media screen and (max-width: 1024px)
    {
        fieldset
        {
            padding: 0 0 0 0;
        }

        form div, .images_block fieldset
        {
            grid-column-start: 1;
            grid-column-end: 3;
            width: 100%;
        }
    }

    .inputfile
    {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .inputfile + label
    {
        font-size: 18px;
        color: white;
        background-color: #8842d5;
        display: block;
        margin-bottom: 3em;
        margin-top: 2em;
        padding: 8px;
        text-align: center;
    }

    .inputfile:focus + label,
    .inputfile + label:hover
    {
        background-color: #7039b4;
    }

    .inputfile + label {
        cursor: pointer; /* "hand" cursor */
    }

    .inputfile:focus + label
    {
        outline: -webkit-focus-ring-color auto 5px;
    }

    #category
    {
        margin-top: 5px;
    }

    em
    {
        color: red;
    }

    .post-editor-button
    {
        cursor: pointer;
        margin-right: 5px;
    }
</style>

<form on:submit|preventDefault={handleSubmit}>
    <div class="post-content-block">
        <fieldset>
            <p>
                <label for="title">Title <em>*</em></label>
                <input type="text" id="title" bind:this={ref} bind:value={title}>
            </p>
            <p>
                <button type="button" id="editor-bold-text" class="post-editor-button"><i class="fas fa-bold"></i></button>
                <button type="button" id="editor-link" class="post-editor-button"><i class="fas fa-link"></i></button>
                <button type="button" id="editor-image" class="post-editor-button"><i class="far fa-image"></i></button>
            </p>
            <p>
                <label for="content">Content  <em>*</em></label>
                <textarea id="content" rows="4" cols="50"  bind:value={content}></textarea>
            </p>
        </fieldset>
    </div>
    <div class="images_block">
        <fieldset>
            <p>
                <input type="file" id="file_cover" name="file_cover" accept="image/*" class="inputfile"/>
                <label for="file_cover"><i class="fas fa-cloud-upload-alt"></i> Cover Image</label>


                <input type="file" id="file_main" name="file_main" accept="image/*" class="inputfile"/>
                <label for="file_main"><i class="fas fa-cloud-upload-alt"></i> Main Image</label>
            </p>

            {#if gettingListCat}
                <span>Getting Categories...</span>
            {/if}

        {#if categories_list}
                    <label for="category">Category</label>
                    <select id="category" name="category" bind:value={category_id}>
                        {#each categories_list as {id, title}}
                            <option value="{id}">{title}</option>
                        {/each}
                    </select>
        {/if}
        </fieldset>

        <fieldset>
            <p>
                <label for="list_cover">Cover Image Preview</label>
                <output id="list_cover">Empty</output>
                <label for="list_main">Main Image Preview</label>
                <output id="list_main">Empty</output>
            </p>
        </fieldset>
    </div>
    <div>
        <p>
            <Modal>
                    <input type="submit" value="Add">
                    <Content bind:this={popupComponent}/>
            </Modal>
        </p>
    </div>
</form>
