<script>
    import {getContext} from 'svelte';
    import { onMount} from "svelte";
    import { goto } from '@sapper/app';

    let show_content = false;
    let admin_status = getContext('user_admin');

    onMount(function()
    {
        if(admin_status !== 1)
        {
            goto('/login');
        }
        else
        {
            show_content = true;
        }
    });

</script>


<slot show_content="{show_content}"></slot>