<style>
	.editor-item
	{
		text-decoration: none;
		color: #8842d5;
		font-size: 18px;
	}

	.editor-item:hover
	{
		color: #7039b4;
	}

	.page-description-block .breadcrumbs
	{
		align-self: end;
		margin: 0 0 0 0;
		text-align: right;
		font-size: 18px;
	}

	.page-description-block .breadcrumbs a
	{
		text-decoration: none;
		color: #202223;
	}

	.page-description-block .breadcrumbs b
	{
		font-weight: 100;
		color: black;
	}

	.page-description-block .breadcrumbs .breadcrumbs-divisor
	{
		padding-left: 5px;
		padding-right: 5px;
	}

	/*Responsive on mobile devices*/
	@media screen and (max-width: 1024px) {

		.wrapper
		{
			grid-template-columns: repeat(2, 1fr);
		}

		/*Responsive on mobile devices*/
		@media screen and (max-width: 760px)
		{
			.wrapper
			{
				grid-template-columns: 1fr;
			}
		}

	}
</style>

<script>
	import UserRightsCheck from '../../../components/UserRightsCheck.svelte';
</script>

<svelte:head>
	<title>Editor - Shardanov</title>
</svelte:head>

<UserRightsCheck let:show_content = {show_content}>

{#if show_content}

	<div class="page-description-block">
		<h1>
			<span class="page-block-title">Editor</span>
		</h1>
		<span class="breadcrumbs"><a href="/blog/">Blog</a><span class="breadcrumbs-divisor">></span><b>Editor</b></span>
		<span class="page-block-subtitle">Choose action what you need!</span>
	</div>

	<div class="wrapper">

		<a class="editor-item" href="/blog/editor/add_post/new/"><i class="fas fa-plus-square"></i> Add Post</a>
		<a class="editor-item" href="/blog/editor/add_category/new/"><i class="fas fa-folder-plus"></i> Add Category</a>
		<a class="editor-item" href="/blog/editor/add_link/new/"><i class="fas fa-link"></i> Add Link</a>
		<a class="editor-item" href="/blog/editor/add_portfolio/new/"><i class="fas fa-file-medical"></i> Add Portfolio Item</a>

		<a class="editor-item" href="/blog/editor/edit_post/"><i class="fas fa-pen-square"></i> Edit Posts</a>
		<a class="editor-item" href="/blog/editor/edit_category/"><i class="fas fa-folder"></i> Edit Categories</a>
		<a class="editor-item" href="/blog/editor/edit_link/"><i class="fas fa-unlink"></i> Edit Links</a>
		<a class="editor-item" href="/blog/editor/edit_portfolio/"><i class="fas fa-file-medical-alt"></i> Edit Portfolio Items</a>

	</div>

{/if}

</UserRightsCheck>