<script context="module">
	export async function preload(page, session) {
		let curUrl = 'https://shardanov.com'+page.path;
		const res = await this.fetch(`https://devapi.shardanov.com/api/post/read_one.php?slug=`+page.params.slug);
		const data = await res.json();

		if (res.status === 200) {
			return { post: data, curUrl };
		} else {
			this.error(res.status, data.message);
		}
	}
</script>

<script>
	export let post;
	let bgImage = post.main_image;
	let date_created = post.created;
	export let curUrl;
	date_created = date_created.split(' ')[0];
	let post_description = post.content.substring(0, 150).replace(/(\r\n|\n|\r)/gm,' ')+'...';
	const article_schema = {
		"@context": "https://schema.org",
		"@type": "BlogPosting",
		"mainEntityOfPage": {
			"@type": "WebPage",
			"@id": curUrl
		},
		"headline": post.title+" - Shardanov",
		"articleBody": post.content,
		"image": [
			bgImage
		],
		"datePublished": date_created,
		"dateModified": date_created,
		"author": {
			"@type": "Person",
			"name": "Denis Shardanov"
		},
		"publisher": {
			"@type": "Organization",
			"name": "Shardanov",
			"logo": {
				"@type": "ImageObject",
				"url": 'https://shardanov.com/logo-site.png'
			}
		}
	}
</script>

<svelte:head>
	<title>{post.title} - Shardanov</title>
	<meta name="robots" content="index, follow" />
	<meta name="description" content="{post_description}">

	<meta property="og:url"                content="{curUrl}" />
	<meta property="og:type"               content="article" />
	<meta property="og:title"              content="{post.title} - Shardanov" />
	<meta property="og:description"        content="{post_description}" />
	<meta property="og:image"              content="{bgImage}" />

	<link rel="canonical" href="{curUrl}" />

	{@html
			`
    <script type="application/ld+json">
      ${JSON.stringify(article_schema)}
    </script>
    `
	}
</svelte:head>

<style>
	.article-block-grid-default
	{
		display: grid;
		grid-template-columns: 1fr;
		cursor: default;
		position: relative;
		align-items: center;
	}

	.article-top-block
	{
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover!important;
		grid-template-columns: repeat(3, 1fr);

		min-height: 400px;
		margin: 0 1.5em 7em 1.5em;
		top: 80px;
	}

	.article-top-block .article-top-counters
	{
		align-self: start;
		grid-column-start: 1;
		grid-column-end: 4;
		background: rgba(0, 0, 0, 0.75);
		color: #F3F3F3;
		font-size: 22px;
		padding: 15px 15px 15px 15px;
		font-weight: bold;
	}

	.article-top-block .article-top-counters i
	{
		margin-right: 5px;
		margin-left: 5px;
	}

	.article-top-block h1
	{
		font-size: 36px;
		padding: 15px 15px 15px 15px;
		color: #000000;
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.article-top-block h1, .breadcrumbs
	{
		align-self: end;
		background: rgba(255, 255, 255, 0.9);
		margin: 0;
	}

	.article-top-block .breadcrumbs
	{
		min-height: auto;
		text-align: right;
		font-size: 18px;
		padding: 26px 15px 26px 15px;
		display: inline-flex;
		justify-content: flex-end;
	}


	.article-top-block .breadcrumbs a
	{
		text-decoration: none;
		color: #202223;
	}

	.article-top-block .breadcrumbs b
	{
		font-weight: 100;
		color: black;
	}

	.article-top-block .breadcrumbs .breadcrumbs-divisor
	{
		padding-left: 5px;
		padding-right: 5px;
	}

	.article-content-wrapper
	{
		padding: 0 1.5em 0 1.5em;
	}

	.article-bottom-wrapper
	{
		padding: 0 1.5em 0 1.5em;
		grid-template-columns: repeat(2, 1fr);
	}

	.article-content-element
	{
		font-size: 18px;
		padding: 0 15px 15px 15px;
		white-space: pre-wrap;      /* CSS3 */
		white-space: -moz-pre-wrap; /* Firefox */
		white-space: -pre-wrap;     /* Opera <7 */
		white-space: -o-pre-wrap;   /* Opera 7 */
		word-wrap: break-word;      /* IE */
		color: #202223;
	}

	:global(.article-content-element img)
	{
		max-width: 90vw;
	}

	.breadcrumbs b
	{
		position: relative;
		max-width: 9vw;
		overflow: hidden;
		display: inline-block;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.article-bottom-wrapper .post-author, .article-bottom-wrapper .post-date
	{
		padding: 10px 15px 10px 15px;
		color: black;
		font-size: 14px;
	}

	.article-bottom-wrapper .post-author
	{
		text-align: right;
	}

	.article-top-block h1
	{
		padding: 10px 15px 10px 15px;
	}

	.page-block-title
	{
		position: relative;
		max-width: 58vw;
		overflow: hidden;
		display: inline-block;
		top: 5px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	@media screen and (max-width: 1280px)
	{
		.breadcrumbs b
		{
			max-width: 3vw;
		}
	}

	@media screen and (max-width: 1024px) and (orientation: portrait)
	{
		.breadcrumbs b
		{
			max-width: 80vw;
		}
	}

	/*Responsive on mobile devices*/
	@media screen and (max-width: 1024px)
	{
		.article-top-block .breadcrumbs
		{
			justify-content: flex-start;
		}

		.page-block-title
		{
			max-width: 80vw;
		}

		.breadcrumbs b
		{
			max-width: 80vw;
		}

		.article-top-block
		{
			grid-template-columns: 1fr;
			min-height: 300px;
			top: 115px;
			margin: 0 .2em 9em .2em;
		}

		.article-top-block h1
		{
			align-self: center;
			font-size: 26px;
			grid-column-end: 4;
			text-align: center;
		}

		.article-top-block .breadcrumbs
		{
			text-align: left;
			padding-left: 15px!important;
		}

		.article-content-wrapper
		{
			padding: 0 .2em 0 .2em;
		}

		.article-bottom-wrapper
		{
			padding: 0 .2em 0 .2em;
		}

		.article-top-block .article-top-counters
		{
			align-self: start;
			grid-column-start: 1;
			grid-column-end: 4;
			background: rgba(0, 0, 0, 0.75);
			color: #F3F3F3;
			font-size: 18px;
			padding: 15px 15px 15px 15px;
			font-weight: bold;
		}
	}

	@media (max-width: 720px)
	{
		.page-block-title
		{
			max-width: 100%;
			white-space: pre-wrap;
		}

		:global(.article-content-element img)
		{
			width: 100%;
		}

		.breadcrumbs
		{
			width: auto!important;
		}

		.breadcrumbs b
		{
			max-width: 50vw;
		}
	}


	@media (max-width: 460px)
	{
		.breadcrumbs b
		{
			max-width: 30vw;
		}
	}

	@media (max-width: 360px)
	{
		.breadcrumbs b
		{
			max-width: 15vw;
		}
	}
</style>



<div style="background: url('{bgImage}') no-repeat center center fixed" class='article-top-block article-block-grid-default'>
	<span class="article-top-counters"><i class="fas fa-eye"></i>68 <i class="fas fa-laugh-beam"></i>30 <i class="fas fa-frown-open"></i>3</span>
	<h1>
		<span class="page-block-title">{post.title}</span>
	</h1>
	<span class="breadcrumbs"><a href="/blog/">Blog</a><span class="breadcrumbs-divisor">></span><a href="/blog/category/">Categories</a><span class="breadcrumbs-divisor">></span><a href="/blog/category/{post.category_slug}/">{post.category_name}</a><span class="breadcrumbs-divisor">></span><b>{post.title}</b></span>
</div>

<div class='article-content-wrapper article-block-grid-default'>
	<div class="article-content-element">
		{@html post.content}
	</div>
</div>


<div class='article-bottom-wrapper article-block-grid-default'>
	<hr class="main-hr-line" noshade="" size="6">

	<span class="post-date">{date_created}</span>
	<span class="post-author">{post.author}</span>

	<hr class="main-hr-line" noshade="" size="6">
</div>