<script>
	export let status;
	export let error;

	const dev = process.env.NODE_ENV === 'development';
</script>

<style>
	.page-description-block .page-block-subtitle
	{
		color: red;
	}

	.page-description-block
	{
		text-align: center;
	}

	.page-description-block h1, .page-description-block .page-block-subtitle
	{
		grid-column-start: 1;
		grid-column-end: 3;
	}

	/*Responsive on mobile devices*/
	@media screen and (max-width: 760px)
	{
		#container .page-description-block .page-block-subtitle
		{
			text-align: center;
		}
	}
</style>

<svelte:head>
	<title>{status}</title>
</svelte:head>


<div class="page-description-block">
	<h1>
		<span class="page-block-title">{status}</span>
	</h1>
	<span class="page-block-subtitle">{error.message}</span>
</div>
