<script>
	import GoogleAnalytics from '../components/GoogleAnalytics.svelte';
	import Nav from '../components/Nav.svelte';
	import Footer from '../components/Footer.svelte';
	import {setContext} from 'svelte';
	import { onMount } from 'svelte';

	let session_key;
	let admin_status = 0;
	let user_status_get = false;
	import { stores } from "@sapper/app"

	const { preloading } = stores();
	onMount(() => {

		function getCookie(name)
		{
			let nameEQ = name + "=";
			let ca = document.cookie.split(';');
			for(let i=0;i < ca.length;i++)
			{
				let c = ca[i];

				while (c.charAt(0)===' ')
				{
					c = c.substring(1,c.length);
				}

				if (c.indexOf(nameEQ) === 0)
				{
					return c.substring(nameEQ.length,c.length);
				}
			}
			return null;
		}

		function getUserRights()
		{
			session_key = getCookie('user_session_key');
			const post = {session_key};

			if(session_key)
			{
				fetch('https://devapi.shardanov.com/api/authorization/get_user_rights.php', {
					method: "POST",
					body: JSON.stringify(post),
				}).then(function(response) {
					return response.json();
				}).then(function(object) {
					if(object.status === 'admin')
					{
						user_status_get = true;
                        admin_status = 1;
					}
					else
					{
						user_status_get = true;
                        admin_status = 0;
					}

				});

			}
			else
			{
				user_status_get = true;
                admin_status = 0;
			}
		}

		getUserRights();

	});

	function setUserRights()
	{
		setContext('user_admin', admin_status);
		loadingEnd();
		return '';
	}

	function loadingBegin()
	{
		document.body.getElementsByClassName('preloader')[0].classList.remove('loaded');
		return '';
	}

	function loadingEnd()
	{
		document.body.getElementsByClassName('preloader')[0].classList.add('loaded_hiding');
		window.setTimeout(function () {
		document.body.getElementsByClassName('preloader')[0].classList.add('loaded');
		document.body.getElementsByClassName('preloader')[0].classList.remove('loaded_hiding');
		}, 500);
		return '';
	}

	export let segment;
</script>

<GoogleAnalytics />

<Nav {segment} admin_status="{admin_status}"/>

<main>
<div id="container">

	<div class="preloader">
		<div class="preloader__row">
			<div class="preloader__item"></div>
			<div class="preloader__item"></div>
		</div>
	</div>

	<noscript>
		<slot></slot>
	</noscript>

{#if !$preloading}

	{#if user_status_get}
		{@html setUserRights()}
		<slot></slot>
	{/if}

{:else}
		{@html loadingBegin()}
{/if}

</div>
</main>

<Footer />