<script>
	const loaded = new Map();

	function lazy(node, data) {
		if (loaded.has(data.src)) {
			node.setAttribute('src', data.src);
		} else {
			const img = new Image();
			img.src = data.src;
			img.onload = () => {
				loaded.set(data.src, img);
				node.setAttribute('src', data.src);
			};
		}

		return {
			destroy(){} // noop
		};
	}

	const personSchema = {
		"@context": "http://schema.org/",
		"@type": "Person",
		"name": "Denis Shardanov",
		"jobTitle": "Developer, Author",
		"email": "mailto:shardanow@gmail.com",
		"image": "https://shardanov.com/ds.jpg",
		"url": "https://shardanov.com",
		"gender": "male"
	}
</script>

<svelte:head>
	<title>About Me - Shardanov</title>
	<meta name="robots" content="index, follow" />
	<meta name="description" content="I am just one of Developers who wanna share to others interesting things in some topics where I had my own experience.">

	<meta property="og:url"                content="https://shardanov.com/about/" />
	<meta property="og:type"               content="profile" />
	<meta property="og:title"              content="About Me - Shardanov" />
	<meta property="og:description"        content="I am just one of Developers who wanna share to others interesting things in some topics where I had my own experience." />
	<meta property="og:image"              content="https://shardanov.com/ds.jpg" />

	<link rel="canonical" href="https://shardanov.com/about/" />

	{@html
			`
    <script type="application/ld+json">
      ${JSON.stringify(personSchema)}
    </script>
    `
	}
</svelte:head>

<style>
	.page-description-block h1,.page-description-block .page-block-subtitle, .page-description-block .breadcrumbs
	{
		grid-column-start: 1;
		grid-column-end: 3;
		text-align: center;
		font-size: 26px;
	}

	.page-description-block .breadcrumbs
	{
		align-self: end;
		margin: 0 0 25px 0;
		text-align: right;
		font-size: 18px;
	}

	.page-description-block .breadcrumbs a
	{
		text-decoration: none;
		color: #202223;
	}

	.page-description-block .breadcrumbs b
	{
		font-weight: 100;
		color: black;
	}

	.page-description-block .breadcrumbs .breadcrumbs-divisor
	{
		padding-left: 5px;
		padding-right: 5px;
	}

	.page-description-block .author-img
	{
		min-height: 200px;
	}

	.page-description-block .author-img, .page-description-block .social-buttons
	{
		align-self: center;
		grid-column-start: 1;
		grid-column-end: 3;
		position: relative;
		margin-top: 25px;
	}

	.page-description-block .author-img img
	{
		max-height: 200px;
		max-width: 200px;
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 100%;
	}

	.page-description-block .social-buttons
	{
		min-height: 50px;
	}

	.page-description-block .social-buttons .social-buttons-icons
	{
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100px;
		height: 30px;
	}

	.page-description-block .social-buttons a
	{
		font-size: 24px;
		margin-left: 5px;
	}

	.page-description-block .social-buttons .fa-youtube
	{
		color: red;
	}

	.page-description-block .social-buttons .fa-instagram-square
	{
		color: #8A3AB9;
	}

	.page-description-block .social-buttons .fa-telegram
	{
		color: #29A6DD;
	}

	/*Responsive on mobile devices*/
	@media screen and (max-width: 1024px) {
		.page-description-block .breadcrumbs
		{
			align-self: start;
			text-align: left;
			margin: 0 0 5px 0;
		}

		.page-description-block .page-block-subtitle
		{
			font-size: 18px;
		}
	}
</style>

<div class="page-description-block">
	<span class="breadcrumbs"><a href="/blog/">Blog</a><span class="breadcrumbs-divisor">></span><b>About Me</b></span>

	<h1>
		<span class="page-block-title">Hi!</span>
	</h1>
	<span class="page-block-subtitle">I am just one of Developers who wanna share to others interesting things in some topics where I had my own experience.</span>
	<div class="author-img"><img src="load.jpg" use:lazy="{{src: 'ds.jpg'}}" alt="Author"></div>
	<div class="social-buttons">
		<div class="social-buttons-icons">
			<a href="https://www.youtube.com/channel/UCOUCyoPih2J8wcw-8KYe_rA/" target="_blank"><i class="fab fa-youtube"></i></a>
			<a href="https://www.instagram.com/denissined1993/" target="_blank"><i class="fab fa-instagram-square"></i></a>
			<a href="https://t.me/shardanov/" target="_blank"><i class="fab fa-telegram"></i></a>
		</div>
	</div>
</div>
