<script context="module">

	export async function preload(page, session) {
		// the `slug` parameter is available because
		// this file is called [slug].svelte

		let curUrl = 'https://shardanov.com'+page.path;

		const res_links = await this.fetch(`https://devapi.shardanov.com/api/link/read.php`);
		const links = await res_links.json();

		// const res_portfolios = await this.fetch('https://devapi.shardanov.com/api/portfolio/read.php');
		// let portfolios = await res_portfolios.json();

		const res_technologies = await this.fetch('https://devapi.shardanov.com/api/technology/read.php');
		let technologies = await res_technologies.json();

		if (res_links.status === 200) {
			return { links, technologies, curUrl };
		} else {
			this.error(res_links.status, links.message);
		}

	}

	const loaded = new Map();

	function lazy(node, data) {
		if (loaded.has(data.src)) {
			node.setAttribute('src', data.src);
		} else {
			const img = new Image();
			img.src = data.src;
			img.onload = () => {
				loaded.set(data.src, img);
				node.setAttribute('src', data.src);
			};
		}

		return {
			destroy(){} // noop
		};
	}
</script>

<script>
	export let links;
	//export let portfolios;
	export let technologies;

	function goToElement(elementID)
	{
		document.getElementById(elementID).scrollIntoView({block: "center", behavior: "smooth"});
	}

	export let curUrl;
</script>


<style>
	.page-banner-block
	{
		padding: 1.5em 1.5em 0 1.5em;
		top: 80px;
	}

	.page-experience-block
	{
		padding: 1.5em 1.5em 6.5em 1.5em;
		top: 50px;
		grid-template-columns: 70vw;
	}

	.page-git-block
	{
		padding: 0 1.5em 1.5em 1.5em;
		grid-template-columns: 70vw;
	}

	.page-banner-block, .page-experience-block, .page-git-block
	{
		display: grid;
		align-items: center;
		cursor: default;
		position: relative;
		justify-content: center;
	}

	.git-block
	{
		padding: 0 1.5em 1.5em 1.5em;
		display: grid;
		align-items: center;
		position: relative;
		max-width: 80vw;
		grid-column-gap: 1.8em;
		grid-row-gap: 1.5em;
		line-height: 40px;
		justify-content: center;
		text-align: center;
		grid-auto-flow: column;
	}

	.page-git-block h2
	{
		text-align: center;
	}

	.git-item-card
	{
		max-width: 250px;
		min-width: 200px;
		background-color: white;
		box-shadow: 2px 2px 8px rgb(0 0 0 / 0.08);
		border-radius: 5px;
	}

	.git-item-card a
	{
		font-size: 22px;
		text-decoration: none;
		color: black;
	}

	.git-item-card span
	{
		padding-top: 10px;
		padding-bottom: 10px;
		display: block;
	}

	.git-item-card:hover
	{
		box-shadow: 2px 2px 8px rgb(0 0 0 / 0.2);
	}

	.git-item-card img
	{
		display: block;
		width: -moz-available;          /* WebKit игнор. */
		width: -webkit-fill-available;  /* Mozilla игнор. */
		width: fill-available;
		padding: 0 25px 25px 25px;
	}

	.experience-container
	{
		padding: 1.5em 1.5em 1.5em 1.5em;
		display: grid;
		align-items: center;
		position: relative;
		background-color: white;
		border-radius: 5px;
		/*min-height: 500px;*/
		max-width: 80vw;
		box-shadow: 2px 2px 8px rgb(0 0 0 / 0.08);

		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
		grid-column-gap: 1.8em;
		grid-row-gap: 1.5em;

		line-height: 100px;
		text-align: center;
	}

	.exp-item
	{
		font-size: 24px;
		font-weight: 600;
		height: 100px;
		width: 100px;
		border-radius: 100%;
		/*border: 2px solid #8A3AB9;*/
		margin: auto;
		position: relative;
		color: white;
		z-index: 1;
		overflow: hidden;
	}

	.exp-item span:after
	{
		background-color: #00000052;
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 40px;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		z-index: -1;
		border-radius: 7px;
	}

	.page-main-banner
	{
		display: grid;
		grid-template-columns: 1fr 0.5fr;
		align-items: center;
		position: relative;
	}

	.right-part-banner:after
	{
		content: url("/DS.png");
		display: block;
	}

	.left-part-banner:after
	{
		background-image: url('/logos_full.png');
		background-size: contain;
		display: inline-block;
		width: 100%;
		height: 380px;
		background-repeat: no-repeat;
		content: "";
	}

	.left-part-banner
	{
		align-self: end;
		min-width: 40vw;
	}

	.left-part-banner h1
	{
		color: #8A3AB9;
		margin: 5px 0 5px 0;
		font-size: 1.8em;
	}

	.left-part-banner h1 b
	{
		color: #FF0000;
		font-size: 1.5em;
	}

	.left-part-banner h2
	{
		font-size: 3em;
		margin: 5px 0 5px 0;
	}

	.left-part-banner h3
	{
		color: #A0A1B7;
		font-size: 1.3em;
		margin: 5px 0 5px 0;
	}

	.experience-button
	{
		background-color: #8A3AB9;
		border: none;
		color: white;
		padding: 15px 38px;
		text-decoration: none;
		margin: 10px 15px 0 0;
		cursor: pointer;
		border-radius: 40px;
		font-size: 1.5em;
		font-weight: 600;
	}

	.experience-button:hover
	{
		background-color: #6b3ab9;
	}

	.filebase-button
	{
		background-color: transparent;
		border: 3px solid #8A3AB9;
		color: #8A3AB9;
		padding: 15px 38px;
		text-decoration: none;
		margin: 10px 0 0 0;
		cursor: pointer;
		border-radius: 40px;
		font-size: 1.5em;
		font-weight: 600;
	}

	.filebase-button:hover
	{
		border-color: #6b3ab9;
		color: #6b3ab9;
	}

	.filebase-button:active
	{
		border-color: #513ab9;
		color: #513ab9;
	}

	.experience-button:active
	{
		background-color: #513ab9;
	}

	button:focus {outline:0;}

	/*Responsive on mobile devices*/
	@media screen and (max-width: 450px)
	{
		.git-block{
			grid-auto-flow: initial;
		}

		.page-git-block
		{
			padding: 0 1.5em 0 1.5em;
		}

		.page-experience-block
		{
			padding: 1.5em 1.5em 3.5em 1.5em;
		}

		.experience-container
		{
			grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
			grid-column-gap: 0;
		}

		.page-experience-block
		{
			grid-template-columns: 90vw;
		}

		.exp-item
		{
			zoom: 0.5;
		}

		.exp-item span
		{
			display: block;
			position: relative;
			top: -50%;
		}

		.page-banner-block
		{
			padding-bottom: 15px;
		}

		.left-part-banner:after
		{
			height: 25vh;
		}

		.experience-button, .filebase-button
		{
			font-size: 1em;
			padding: 15px 15px;
		}

		.left-part-banner h1
		{
			font-size: 1.3em;
		}

		.left-part-banner h1 b
		{
			font-size: 1.4em;
		}

		.left-part-banner h2
		{
			font-size: 1.8em;
		}

		.left-part-banner h3
		{
			font-size: 1em;
		}
	}

	/*Responsive on mobile devices*/
	@media screen and (max-width: 1024px)
	{
		.page-banner-block
		{
			top: 110px;
		}

		.right-part-banner:after, .right-part-banner
		{
			display: none;
		}

		.page-main-banner
		{
			grid-template-columns: none;
		}

		.page-banner-block
		{
			justify-content: normal;
		}
	}

	@keyframes leBounceZoomIn {
		0%
		{
			height: 100px;
		}
		50% {
			height: 150px;
		}
		100% {
			height: 250px;
		}
	}


	.exp-item-wave
	{
		background: url("/wave.svg") no-repeat;
		position: absolute;
		background-size: cover;
		background-position-x: -60px;
		bottom: 0;
		width: 100px;
		height: 100px;
		left: 0;
		z-index: -5;
		/*animation: leBounceZoomIn 5s linear 2s infinite alternate;*/
	}

	/* Portrait IpadPRO*/
	@media only screen
	and (min-width: 1024px)
	and (max-height: 1366px)
	and (orientation: portrait)
	and (-webkit-min-device-pixel-ratio: 1.5) {
		.left-part-banner
		{
			margin-left: 100px;
		}
	}

</style>

<svelte:head>
	<title>Shardanov</title>
	<meta name="robots" content="index, follow" />
	<meta name="description" content="Programming lover, dog owner, funny guy.">

	<meta property="og:url"                content="{curUrl}" />
	<meta property="og:type"               content="website" />
	<meta property="og:title"              content="Shardanov" />
	<meta property="og:description"        content="Programming lover, dog owner, funny guy." />
	<meta property="og:image"              content="{curUrl}logo-site.png" />

	<link rel="canonical" href="{curUrl}" />
</svelte:head>

	<div class="page-banner-block">
		<div class="page-main-banner">

			<div class="left-part-banner">
				<h1>
					<span class="page-block-title"><b>Hi,</b> I am Denis Shardanov</span>
				</h1>
				<h2>
					<span class="page-block-second-title">Software Engineer</span>
				</h2>
				<h3>
					<span class="page-block-third-title">Programming lover, dog owner, funny guy.</span>
				</h3>
				<div class="button-block">
					<button class="experience-button" on:click={() => goToElement("exp-block")}>Experience</button>
					<button class="filebase-button" on:click={() => goToElement("git-block")}>Repo</button>
				</div>
			</div>
			<div class="right-part-banner"></div>

		</div>
	</div>
	<div class="page-experience-block">
			<div id="exp-block" class="experience-container">
				{#each technologies['technologies'] as techItem}
					<div class="exp-item" title="{techItem.full_title}"><span>{techItem.title}</span><div class="exp-item-wave"></div></div>
				{/each}
			</div>
	</div>

	<div class="page-git-block">
		<h2>
			<span class="page-block-title">My Filebase</span>
		</h2>

		<div id="git-block" class="git-block">
			{#each links['links'] as link}

				<div class="git-item-card">
					<a href="{link.url}" target="_blank">
							<span class="title">{link.title}</span>
							<img src="load.jpg" use:lazy="{{src: link.cover_image}}" alt="Link - {link.title}" class="article-block-element-image">
					</a>
				</div>

			{/each}
		</div>

	</div>