<script>
    import Content from '../components/popup/Content.svelte';
    import Modal from '../components/popup/Modal.svelte';
    import { goto } from '@sapper/app';
	import { onMount } from 'svelte';
	let login, password, resp_status, session_key, popupComponent;

	onMount( () => {
		async function handleSubmit() {
			const post = {login, password};

			fetch('https://devapi.shardanov.com/api/authorization/login.php', {
				method: "POST",
				body: JSON.stringify(post),
			}).then(function (response) {
				if (response.status === 201) {
					resp_status = 'default';
				} else {
					resp_status = 'error';
				}

				return response.json()
			}).then(function (object) {
				if (object.status === 'ok') {
					setCookie('user_session_key', object.message, 7);
					session_key = object.message;
					popupComponent.showPopup('Welcome ' + login + '!', resp_status);

					setTimeout(() => {
						goto('/');
						location.reload();
					}, 2000);
				} else {
					popupComponent.showPopup(object.message, resp_status);
					eraseCookie('user_session_key');
				}
			});
		}

		function showPass() {
			let x = document.getElementById("password");
			if (x.type === "password") {
				x.type = "text";
				document.getElementsByClassName("show-password-icon")[0].classList.add("password-showed");
			} else {
				x.type = "password";
				document.getElementsByClassName("show-password-icon")[0].classList.remove("password-showed");
			}
		}

		function setCookie(name, value, days) {
			let expires = "";
			if (days) {
				let date = new Date();
				date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
				expires = "; expires=" + date.toUTCString();
			}
			document.cookie = name + "=" + (value || "") + expires + "; path=/";
		}

		function getCookie(name) {
			let nameEQ = name + "=";
			let ca = document.cookie.split(';');
			for (let i = 0; i < ca.length; i++) {
				let c = ca[i];

				while (c.charAt(0) === ' ') {
					c = c.substring(1, c.length);
				}

				if (c.indexOf(nameEQ) === 0) {
					return c.substring(nameEQ.length, c.length);
				}
			}
			return null;
		}

		function eraseCookie(name) {
			document.cookie = name + '=; Max-Age=-99999999;';
		}

		if(getCookie('user_session_key'))
		{
			goto('/')
		}

		// Get the button, and when the user clicks on it, execute myFunction
		document.getElementsByClassName("show-password-icon")[0].onclick = function() {showPass()};
		document.getElementById("loginForm").onsubmit = function(evt) { evt.preventDefault(); handleSubmit();};
	});


</script>

<svelte:head>
	<title>Log In - Shardanov</title>
	<meta name="robots" content="noindex, nofollow" />
</svelte:head>

<style>
    .page-description-block .breadcrumbs
	{
		grid-column-start: 1;
		grid-column-end: 3;
		text-align: center;
		font-size: 26px;
	}

	.page-description-block .breadcrumbs
	{
		align-self: end;
		margin: 0 0 25px 0;
		text-align: right;
		font-size: 18px;
	}

	.page-description-block .breadcrumbs a
	{
		text-decoration: none;
		color: #202223;
	}

	.page-description-block .breadcrumbs b
	{
		font-weight: 100;
		color: black;
	}

	.page-description-block .breadcrumbs .breadcrumbs-divisor
	{
		padding-left: 5px;
		padding-right: 5px;
	}

	fieldset
	{
		border: none;
		padding: 0 15px 0 0;
	}

	form
	{
		align-self: center;
		grid-column-start: 1;
		grid-column-end: 3;
		position: relative;
	}

	label
	{
		display: block;
	}

	input[type=text], input[type=password]
	{
		width: 100%;
		padding: 10px 15px;
		box-sizing: border-box;
		border-radius: 5px;
		border: 2px solid #E5E5E5;
		font-size: 16px;
	}

	input[type=submit]
	{
		background-color: #8842d5;
		border: none;
		color: white;
		padding: 10px 25px;
		text-decoration: none;
		margin: 10px 0 0 0;
		cursor: pointer;
		border-radius: 5px;
		font-size: 18px;
		width: 100%;
	}

	input[type=submit]:hover
	{
		background-color: #7039b4;
	}

	.authorization-block
	{
		max-width: 20vw;
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		border-radius: 100%;
	}

	.password-block
	{
		position: relative;
	}

	.password-block i
	{
		position: absolute;
		right: 10px;
		top: 32px;
		cursor: pointer;
		color: #c7c7c7;
	}

	.password-block i:hover
	{
		color: black;
	}

	:global(.password-showed)
	{
		color: black!important;
	}

	/*Responsive on mobile devices*/
	@media screen and (max-width: 1024px)
	{
		.authorization-block
		{
			max-width: 40vw;
		}

		.page-description-block .breadcrumbs
		{
			align-self: start;
			text-align: left;
			margin: 0 0 5px 0;
		}

		fieldset
		{
			padding: 0 0 0 0;
		}

		form div
		{
			grid-column-start: 1;
			grid-column-end: 3;
			width: 100%;
		}
	}

	/*Responsive on mobile devices*/
	@media screen and (max-width: 760px)
	{

		input[type=submit]
		{
			width: 100%;
		}

		.authorization-block
		{
			max-width: 80vw;
		}
	}
</style>

<div class="page-description-block">


	<span class="breadcrumbs"><a href="/">Shardanov</a><span class="breadcrumbs-divisor">></span><b>Log In</b></span>

	<form id="loginForm">
		<div class="authorization-block">
			<fieldset>
				<p>
					<label for="login">Login <em>*</em></label>
					<input type="text" id="login" bind:value={login}>
				</p>
				<p class="password-block">
					<label for="password">Password  <em>*</em></label>
					<i class="fas fa-eye show-password-icon" ></i>
					<input type="password" id="password" bind:value={password}>
				</p>
				<p>
					<input type="submit" value="Login">
				</p>
			</fieldset>
		</div>
	</form>
</div>

<div>
    <p>
        <Modal>
            <Content bind:this={popupComponent}/>
        </Modal>
    </p>
</div>