<script>
	import { goto } from '@sapper/app';
	import {onMount} from "svelte";

	onMount(() => {
		function logOut()
		{
			eraseCookie('user_session_key');
			setTimeout(() => {
				goto('/');
				location.reload();
			}, 100);
		}

		function eraseCookie(name)
		{
			document.cookie = name+'=; Max-Age=-99999999;';
		}

		logOut()
	});
</script>

<svelte:head>
	<title>Log Out - Shardanov</title>
	<meta name="robots" content="noindex, nofollow" />
</svelte:head>