<script context="module">
	export async function preload(page, session) {
		let curUrl = 'https://shardanov.com'+page.path;

		const res_categories = await this.fetch(`https://devapi.shardanov.com/api/category/read_one.php?slug=`+page.params.slug);
		const category = await res_categories.json();

		const res_posts = await this.fetch('https://devapi.shardanov.com/api/post/read.php?category='+page.params.slug);
		let records = await res_posts.json();

		if (res_posts.status === 200) {
			return { records, category, curUrl};
		} else {
			this.error(res_posts.status, records.message);
		}

	}

    const loaded = new Map();

    function lazy(node, data) {
        if (loaded.has(data.src)) {
            node.setAttribute('src', data.src);
        } else {
            const img = new Image();
            img.src = data.src;
            img.onload = () => {
                loaded.set(data.src, img);
                node.setAttribute('src', data.src);
            };
        }

        return {
            destroy(){} // noop
        };
    }
</script>

<style>
	.page-description-block .breadcrumbs
	{
		align-self: end;
		margin: 0 0 0 0;
		text-align: right;
		font-size: 18px;
	}

	.page-description-block .breadcrumbs a
	{
		text-decoration: none;
		color: #202223;
	}

	.page-description-block .breadcrumbs b
	{
		font-weight: 100;
		color: black;
	}

	.page-description-block .breadcrumbs .breadcrumbs-divisor
	{
		padding-left: 5px;
		padding-right: 5px;
	}
</style>

<script>
	export let category;
	export let records;
	export let curUrl;
</script>

<svelte:head>
	<title>Blog - {category.title} Posts - Shardanov</title>
	<meta name="robots" content="index, follow" />
	<meta name="description" content="{category.description}">

	<meta property="og:url"                content="{curUrl}" />
	<meta property="og:type"               content="website" />
	<meta property="og:title"              content="Blog - {category.title} Posts - Shardanov" />
	<meta property="og:description"        content="{category.description}" />
	<meta property="og:image"              content="{records['records'][0].cover_image}" />

	<link rel="canonical" href="{curUrl}" />
</svelte:head>

<div class="page-description-block">
	<h1>
		<span class="page-block-title">{category.title}</span>
	</h1>

	<span class="breadcrumbs">
		<a href="/blog/">Blog</a>
		<span class="breadcrumbs-divisor">></span>
		<a href="/blog/category/">Categories</a>
		<span class="breadcrumbs-divisor">></span>
		<b>{category.title}</b>
	</span>

	<span class="page-block-subtitle">{category.description}</span>
</div>

<div class="wrapper">

	{#each records['records'] as post}

		<div class="article-block-element">
			<a href="blog/{post.slug}/">
				<figure class="gallery__item">
					<h2>
						<span class="subcategory">{post.category_name}</span>
						<span class="title">{post.title}</span>
					</h2>
					<img src="load.jpg" use:lazy="{{src: post.cover_image}}" alt="Post - {post.title}" class="article-block-element-image">
				</figure>
			</a>
		</div>

	{/each}

</div>
