<script context="module">

	export async function preload(page, session) {
		let curUrl = 'https://shardanov.com'+page.path;

		const res_categories = await this.fetch('https://devapi.shardanov.com/api/category/read.php');
		const categories = await res_categories.json();

		if (res_categories.status === 200) {
			return {categories, curUrl };
		} else {
			this.error(res_categories.status, categories.message);
		}

	}

	const loaded = new Map();

	function lazy(node, data) {
		if (loaded.has(data.src)) {
			node.setAttribute('src', data.src);
		} else {
			const img = new Image();
			img.src = data.src;
			img.onload = () => {
				loaded.set(data.src, img);
				node.setAttribute('src', data.src);
			};
		}

		return {
			destroy(){} // noop
		};
	}
</script>

<style>
	.page-description-block .breadcrumbs
	{
		align-self: end;
		margin: 0 0 0 0;
		text-align: right;
		font-size: 18px;
	}

	.page-description-block .breadcrumbs a
	{
		text-decoration: none;
		color: #202223;
	}

	.page-description-block .breadcrumbs b
	{
		font-weight: 100;
		color: black;
	}

	.page-description-block .breadcrumbs .breadcrumbs-divisor
	{
		padding-left: 5px;
		padding-right: 5px;
	}
</style>

<script>
	export let categories;
	export let curUrl;
</script>

<svelte:head>
	<title>Blog - Categories - Shardanov</title>
	<meta name="robots" content="index, follow" />
	<meta name="description" content="Here You Can Find Any Category What You Interested At!">

	<meta property="og:url"                content="{curUrl}" />
	<meta property="og:type"               content="website" />
	<meta property="og:title"              content="Blog - Categories - Shardanov" />
	<meta property="og:description"        content="Here You Can Find Any Category What You Interested At!" />
	<meta property="og:image"              content="{categories['categories'][0].cover_image}" />

	<link rel="canonical" href="{curUrl}" />
</svelte:head>

<div class="page-description-block">

	<h1>
		<span class="page-block-title">Categories</span>
	</h1>

	<span class="breadcrumbs">
		<a href="/blog/">Blog</a>
		<span class="breadcrumbs-divisor">></span>
		<b>Categories</b>
	</span>

	<span class="page-block-subtitle">Here You Can Find Any Category What You Interested At!</span>
</div>

<div class="category-wrapper">

	{#each categories['categories'] as category}

		<div class="article-block-element">
			<a href="blog/category/{category.slug}/">
				<figure class="gallery__item">
					<h2>
						<span class="title">{category.title}</span>
					</h2>
					<img src="load.jpg" use:lazy="{{src: category.cover_image}}" alt="Category - {category.title}" class="article-block-element-image">
				</figure>
			</a>
		</div>

	{/each}

</div>